//@btnToggleButtonPositionLeft:12px;
//@btnToggleButtonPositionTop:8px;
@btnToggleButtonPositionWidth:130px;
@btnToggleButtonBackgroundColor:#DFEFF0 ;
@btnToggleButtonActiveBackgroundColor:#009AA3;
@btnToggleButtonHoverBackgroundColor:#00CAD6;
@btnToggleHasBackgroundColor:true;
@btnToggleTransition:1s;

/* ngBlockly components  */
#button_toggle_toolbox{
    position:absolute;
    margin: 0 !important;
    padding: 0px !important;
    //left: @btnToggleButtonPositionLeft;
    //top: @btnToggleButtonPositionTop;
    text-align: center;
    font-size: 2rem !important;
    z-index: 5;
    width:@btnToggleButtonPositionWidth;
    background-color: @btnToggleButtonBackgroundColor;
    &:active{
        background-color: @btnToggleButtonActiveBackgroundColor;
    }
    &:hover{
        background-color: @btnToggleButtonHoverBackgroundColor
    }
    img{
        width:25px;
    }
}


.toolbox_toggle_on {
    -moz-transition-duration: @btnToggleTransition;
    -webkit-transition-duration: @btnToggleTransition;
    -o-transition-duration:@btnToggleTransition;
    transition-duration: @btnToggleTransition;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}
.toolbox_toggle_off {
  overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration:@btnToggleTransition;
    -webkit-transition-duration: @btnToggleTransition;
    -o-transition-duration:@btnToggleTransition;
    transition-duration: @btnToggleTransition;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
/*****************************/
/*  Overwriting Blockly CSS  */
/*****************************/
/* Blockly text for the following components:  */
.blocklyTreeLabel,           /* Toolbox        */
.blocklyText,                /* Block          */
.goog-menuitem-content {     /* Drop down menu */
  font-family: "Roboto", sans-serif!important;
}

/* Entire Blockly area, Toolbox dranw on top */
.blocklySvg {
  border-width: 0 !important;
}

/* Toolbox */
.blocklyToolboxDiv {
  border-color: #e0e0e0 !important;
  border-width: 0px 1px 0px 0px !important;
  -webkit-border-radius: 0px 4px 4px 0px !important;
  -moz-border-radius: 4px 4px 0px 0px !important;
  border-radius: 0px 4px 4px 0px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px 0px 0px 0px !important;
  background: rgba(98, 174, 178, .2) !important;  /* Arduino Light Teal */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden !important;
}
.blocklyTreeRoot {
  background: none !important;
  border: none !important;
  margin: 36px 0px 0px 0px !important;
  padding: 0px 1px !important;
  height: -moz-calc(100% - 37px);     /* Firefox  */
  height: -webkit-calc(100% - 37px);  /* WebKit   */
  height: -o-calc(100% - 37px);       /* Opera    */
  height: calc(100% - 37px);          /* Standard */
  overflow-x: hidden;
  overflow-y: auto;
}
.blocklyTreeRow {
  background: none !important;
  border: none !important;
  margin: 0px 0px !important;
  padding: 7px 16px 7px 0px !important;
  box-sizing: content-box !important;
}
.blocklyTreeSelected {
  background-color: #E47128 !important;  /* arduino orange */
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: rgba(255, 204, 51, 1) !important;  /* arduino yellow */
}
.blocklyTreeLabel {
}
.blocklyTreeSeparator{
  padding: 0px !important;
  margin: 0px !important;
}

/* Toolbox second column with blocks*/
.blocklyFlyoutBackground {
  fill: #DEEEEF !important;
  fill-opacity: 0.7 !important;
  -webkit-border-radius: 0px 4px 4px 0px !important;
  -moz-border-radius: 0px 4px 4px 0px !important;
  border-radius: 0px 4px 4px 0px !important;
}

/* Blockly scrollbars */
.blocklyScrollbarKnob {
  fill: #00878F !important;
  fill-opacity: 0.7 !important;
  stroke-width: 0px !important;
  
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: red !important;
}

/* Edit select colour to Arduino yellow. (Edited out as already this colour)
.blocklyHighlightedConnectionPath,
.blocklySelected>.blocklyPath {
  stroke: rgba(255, 204, 51, 1) !important;
} */